<div class="row d-flex justify-content-between align-items-center">
  <!-- Content that may go on the left -->
  <div class="col-md-8">
    <!-- Left space or content can be added here -->
  </div>

  <!-- Right-aligned content -->
  <div class="col-md-4 text-end">
    <div class="row align-items-center flex-nowrap" >
      <div class="col-md-9 text-black-3 text-right">
        <b><span>Bonjour {{connectedUser.nom}}&nbsp;</span></b>
      </div>
      <div class="col-md-3">
        <a href="javascript:void(0);" [routerLink]="['/profil']">
          <img src="assets/user.png" class="rounded-circle" width="50px" height="50px" />
        </a>
      </div>
    </div>
  </div>
</div>
